@charset "utf-8";
/***************************************************************************/
/********************************  $Content  *******************************/
/**
* + Content
* + Imports Fonts and Icons
* + General Tags
* + General Styles
* 	+ Advertising
* 	+ Alerts
* 	+ Biography
* 	+ Breadcrumbs
* 	+ Buttons
* 	+ Carousel
* 	+ Categories
* 	+ Classes
* 	+ Classes All
* 	+ Classes Carousel
* 	+ Classes Item
* 	+ Classes List
* 	+ Classes Video
* 	+ Comments
* 	+ Container
* 	+ Filters
* 	+ Flickr
* 	+ Footer Contact
* 	+ Footer Menu
* 	+ Forms
* 	+ Forms Comments
* 	+ Forms Search
* 	+ Forms Suscribe
* 	+ Go to Top
* 	+ Graphics
* 	+ Isotope
* 	+ List Links
* 	+ Maps
* 	+ Membership
* 	+ Modal
* 	+ Navbar
* 	+ News
* 	+ Pagination
* 	+ Performance
* 	+ Posts
* 	+ Pricing Tables
* 	+ Progress Bar
* 	+ Revolution Slider
* 	+ Schedules
* 	+ Services
* 	+ Skills
* 	+ Social Icons
* 	+ Tags
*   + Tooltips
* 	+ Testimonials 
* 	+ Thumbnail
* 	+ Trainers
*/
/**
 *
 *
 *
 *
/************************  $Import Fonts and Icons  ************************/
/*
 *
/* Open Oswald - From Google Fonts - Menu, Titulos, Slider */
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
/* Open Sans - From Google Fonts - Elements P */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/**
 *
 *
 *
 *
/***************************************************************************/
/*****************************  $General Tags  *****************************/
a {
  font-family: 'Open Sans';
  color: #027bef;
  font-size: 0.875em;
  outline: 0;
}
a:hover {
  color: #e46e0c;
  text-decoration: none;
}
address {
  font-size: 0.875em;
  line-height: 1.8em;
  color: #898989;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
address a {
  font-size: 1em;
}
address abbr {
  color: #222322;
  font-style: italic;
  margin-right: 0.5em;
}
article {
  clear: both;
  margin-bottom: 15px;
}
article>div:first-child + article>h4,
article>h4:first-child {
  margin-top: 0;
}
aside .secc {
  margin-bottom: 50px;
}
aside .secc h4 {
  margin-top: 0;
}
blockquote {
  color: #898989;
  font-family: 'Open Sans';
  line-height: 1.8em;
  font-weight: 300;
  font-style: italic;
  font-size: 0.875em;
}
blockquote a {
  font-size: 1em;
}
body {
  background-color: #ffffff;
  color: #616161;
  font-family: 'Open Sans';
  font-size: 16px;
  width: 100%;
  scroll-behavior: smooth;
 
}

input[type= text]{
  color: #616161;
}

footer a {
    -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
.footer-bottom p{
  color:#e9e9ec;
}
footer .container {
  padding-bottom: 0;
  padding-top: 0;
   width: 100%;
  font-size: 13px;
  
}
footer .footer-bottom {
  min-height: 85px;
  color: #b0b0b0;
  background-color: #3b3b3b;
}
footer .footer-bottom a {
  color: #b0b0b0;
}
footer .footer-bottom a:hover {
  color: #fff;
}
footer .footer-top {
  min-height: 340px;
  background: #f8f9fa !important;
  background-position: top center;
}
footer .footer-top h2 {
  margin: 70px 0 25px;
  font-size: 1.5em;
}
footer .footer-top ul {
  list-style: none;
}
footer .footer-top ul li>i {
  color: #027bef;
  font-size: 1.3em;
  width: 30px;
  display: inline-block;
}

#topBtn {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 2em;
  z-index: 999;
  opacity: 0.8;
  color: #33658a;
  
}

#topBtn:hover {
  cursor: pointer;
  color: #172e40;
  transition: color 0.8s ease-in;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3b3b3b;
  font-family: 'Oswald';
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1.5em 0 0.5em 0;
}
h1 {
  font-size: 1.625em;
}
h2 {
  font-size: 1.438em;
}
h3 {
  font-size: 1.313em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
header .container {
  padding-bottom: 0;
  padding-top: 0;
}
header .header-bottom {
  background-color: #027bef;
  min-height: 150px;
}
header .header-bottom h1 {
  color: #fff;
  font-size: 1.7em;
  line-height: 150px;
  margin: 0;
}
img { /* Images des clients du site*/
  width: 220px;
  height: 220px;
}

.navbar-brand img{
  width: 80px;
  height: 64px;
}
.navbar-light .navbar-toggler-icon{
  background-image: url(../img/menu.svg) !important;
}
.navbar-light .navbar-toggler {

  border-color: transparent !important;

}
input::-moz-focus-inner {
  border: 0;
}
object,
embed {
  outline: 0;
}
p {
  color: #4d4d4e;
    font-family: 'Open Sans';
    font-size: 0.975em;
    font-weight: 300;
}
p a {
  font-size: 1em;
}
ul {
  padding: 0;
}
/**
 *
 *
 *
 *
/***************************************************************************/
/****************************  $General Styles  ****************************/
/**
 *
 *
/*****************************  $Advertising  ******************************/
.advertising figcaption {
  background-color: #060b11;
  padding: 0.5em 1em;
}
.advertising h3 {
  background-color: #f23f52;
  color: #fff;
  font-size: 1.2em;
  margin: 0;
  padding: 0.6em 0.5em;
  text-align: center;
}
.advertising p {
  font-size: 0.8em;
  text-align: center;
}
.advertising p strong {
  color: #f99114;
  display: block;
  font-size: 1.6em;
}
.advertising p strong span {
  font-size: 1.7em;
  padding: 0 0.2em 0 0;
}
.advertising:hover p {
  text-shadow: 0 0 10px #fff;
}
.advertising:hover p strong {
  text-shadow: 0 0 20px #f99114;
}
/**
 *
 *
/********************************  $Alerts  ********************************/
.alert {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Oswald';
}
.alert-danger {
  background-color: #b15b5c;
  color: #fff;
}
.alert-info {
  background-color: #027bef;
  color: #fff;
}
.alert-success {
  background-color: #1d9744;
  color: #fff;
}
.alert-warning {
  background-color: #ffea03;
  color: #027bef;
}
/**
 *
 *
/******************************  $Biography  *******************************/
.biography {
  color: #3c3c3c;
  line-height: 2em;
}
.biography span {
  color: #898989;
  display: inline-block;
  width: 70px;
}
/**
 *
 *
/*****************************  $Breadcrumbs  ******************************/
.breadcrumbs {
  color: #fff;
  font-size: 0.9em;
  line-height: 150px;
  text-align: right;
}
.breadcrumbs a {
  border-bottom: 1px dotted #fff;
  color: #fff;
}
.breadcrumbs a:hover {
  border: none;
}
.breadcrumbs span {
  border: 1px solid #fff;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 300;
  height: 14px;
  line-height: 11px;
  margin: 0 10px;
  text-align: center;
  width: 13px;
}
.breadcrumbs span:before {
  content: '>';
}
/**
 *
 *
/*******************************  $Buttons  ********************************/
.btn {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 2.1em;
  padding: 0.5em 1.2em;
}
.btn i {
  font-size: 1.4em;
}
.btn.btn-bordered {
  border: 1px solid #c4c4c4;
  color: #0076d0;
  display: block;
  font-size: 1em;
  padding: 0.5em 2em;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;  
}
.btn.btn-bordered:hover,
.btn.btn-bordered.active {
  border-color: #0076d0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #c4c4c4;
}
.btn.btn-default {
  background-color: #027bef;
  color: #fff;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;  
}
.btn.btn-default:hover {
  background-color: #E46E0C;
  color: #fff;
}
/**
 *
 *
/*******************************  $Carousel  *******************************/
.carousel-control {
  background-color: #fff;
  color: #027bef;
  font-size: 1.5em;
  font-weight: 400;
  height: 42px;
  left: auto;
  line-height: 42px;
  margin: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 0;
  width: 42px;
}
.carousel-control:hover {
  background-color: #027bef;
  color: #fff;
}
.carousel-control.prev {
  right: 42px;
}
.carousel-indicators {
  margin: 80px 0 0 0;
  padding: 0;
  position: static;
  width: 100%;
}
.carousel-indicators li {
  background-color: #b1b1b1;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 8px;
  margin: 0;
  width: 128px;
}
.carousel-indicators li:hover,
.carousel-indicators li.active {
  background-color: #027bef;
  height: 8px;
  width: 128px;
}
/**
 *
 *
/******************************  $Categories  ******************************/
.categories {
  list-style: none;
}
.categories li {
  padding: 0 0 0.8em 25px;
}
.categories li i,
.categories li a {
  color: #898989;
}
.categories li a:hover {
  color: #027bef;
}
.categories li i {
  display: inline-block;
  margin: 0 0 0 -25px;
}
/**
 *
 *
/*******************************  $Classes  ********************************/
.classes-grid-item {
  display: inline-block;
  margin: 9px;
  max-width: 270px;
}
/**
 *
 *
/*****************************  $Classes All  ******************************/
.classes-all {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0 0 0 70px;
}
.classes-all a {
  color: #888;
  display: block;
}
.classes-all a:hover {
  color: #222322;
}
.classes-all figure {
  float: left;
  height: 60px;
  margin: 0 0 0 -70px;
  overflow: hidden;
  position: relative;
  width: 60px;
}
.classes-all span {
  color: #888;
  font-size: 0.9em;
  font-weight: normal;
}
/**
 *
 *
/**************************  $Classes Carousel  **************************/
.classes-carousel {
  margin: 0 0 2em 0;
}
/**
 *
 *
/******************************  $Classes Item  ******************************/
.classes-items h2 {
  text-align: center;
}
.classes-items .class-item {
  margin-bottom: 50px;
}
.classes-items .class-item h3 {
  border-bottom: 8px solid #027bef;
  font-size: 1.3em;
  margin: 0;
}
.classes-items .class-item h3 a {
  color: #3b3b3b;
  display: block;
  font-family: 'Oswald';
  line-height: 50px;
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;  
}
.classes-items .class-item h3:hover {
  border-bottom: 8px solid #027bef;
}
.classes-items .class-item h3 a:hover {
  color: #027bef;
}
.classes-items .class-item h3 a i {
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;   
}
.classes-items .class-item h3 a:hover i {
  color: #027bef;
  margin-left: 10px;
}

/**
 *
 *
/*****************************  $Classes List  *****************************/
.classes-list .panel {
  background: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.classes-list .panel-group {
  margin-bottom: 7px;
}
.classes-list .panel-heading {
  background-color: #e46e0c;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
.classes-list .panel-heading a {
  color: #f7f7f7;
  display: block;
  font-family: 'Oswald';
  font-size: 4em;
  font-weight: 300;
  line-height: 0.9em;
  padding: 0.5em 0 0 0.5em;
  position: relative;
  outline: none;
}
.classes-list .panel-heading a i {
  color: rgba(0,0,0,0.1);
  position: absolute;
  right: 0;
  top: 0;
}
.classes-list .panel-body:before, .panel-body:after {
  padding-top: 20px;
}
.classes-list .panel-heading.darkblue {
  background-color: #5d86b2;
}
.classes-list .panel-heading.green {
  background-color: #1d9744;
}
.classes-list .panel-heading.purple {
  background-color: #7e5ce4;
}
.classes-list .panel-heading.violet {
  background-color: #b05c97;
}
.classes-list .panel-heading.yellow {
  background-color: #fdc100;
}
.classes-list .panel-heading.water {
  background-color: #72bab6;
}
.classes-list .panel-heading.wine {
  background-color: #b15b5c;
}
/**
 *
 *
/***************************  $ Classes Video  *****************************/
.video iframe {
  border: 0;
  height: 400px;
  width: 100%;
}
/**
 *
 *
/*******************************  $Comments  *******************************/
.comments {
  border-top: 4px solid #e7e7e7;
}
.comments h2 {
  margin-bottom: 1em;
  text-align: center;
}
.comments .comment {
  min-height: 150px;
  padding: 0 0 3em 0;
  position: relative;
}
.comments .comment figure {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  width: 100px;
}
.comments .comment p {
  padding: 0 0 0 130px;
}
.comments .comment span {
  color: #353535;
  display: block;
  margin: 0 0 0.5em 0;
}
.comments .comment span a {
  color: #d7d7d7;
  font-size: 1.2em;
}
.comments .comment span a:hover {
  color: #027bef;
}
.comments .comment.reply {
  padding-left: 75px;
}
.comments .comment.reply:after {
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #027bef;
  content: '·';
  font-size: 4em;
  height: 19px;
  left: 41px;
  line-height: 0;
  padding: 7.4px 0 0 0;
  position: absolute;
  top: 40px;
  width: 19px;
}
.comments .comment:before {
  background-color: #aaa;
  content: '';
  display: block;
  height: 100%;
  left: 50px;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: -1;
}
/**
 *
 *
/******************************  $Container  *******************************/
.container {
  padding-bottom: 40px;
}

/**
 *
 *
/*******************************  $Filters  ********************************/
.filters {
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
}
.filters li {
  display: inline-block;
  margin: 10px 2px 0 2px;
}
/**
 *
 *
/********************************  $Flickr  ********************************/
.flickr-feed {
  list-style: none;
  text-align: center;
}
.flickr-feed li {
  display: inline-block;
  list-style: none;
  margin: 3.5px;
}
.flickr-feed li a {
  display: block;
  width: 75px;
}
.flickr-feed li a:hover {
  border: 3px solid #027bef;
}
/**
 *
 *
/****************************  $Footer Contact  ****************************/
.foot-contact {
  font-size: 1em;
}
.foot-contact li {
  height: 35px;
  line-height: 35px;
}

.footer a{
  font-size: 0.975em;
}
/**
 *
 *
/*****************************  $Footer Menu  ******************************/
.footmenu {
  list-style: none;
  text-align: right;
}
.footmenu li {
  display: inline-block;
}
.footmenu li a {
  font-size: 0.9em;
  padding: 0 15px;
  text-transform: uppercase;
}
/**
 *
 *
/********************************  $Forms  *********************************/
.form-control {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #E2E2E2;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 44px;
}
.form-control:focus {
  border: 1px solid #008cf7;
  box-shadow: none;
}
.response .alert {
  display: none;
}
/**
 *
 *
/****************************  $Forms Comments  ****************************/
.forms-comments {
  padding: 10px 0 0 130px;
  position: relative;
}
.forms-comments h4 {
  margin: 0 0 1em 0;
}
.forms-comments .plus {
  font-size: 2.4em;
  line-height: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(200,200,200,0.5);
  position: absolute;
  top: -8px;
  left: 25px;
  height: 49px;
  width: 49px;
  text-align: right;
}
.forms-comments .plus i {
  left: -2px;
  position: relative;
  top: 6px;
}
/**
 *
 *
/*****************************  $Forms Search  *****************************/
.form-search {
  position: relative;
}
.form-search .btn {
  background-color: #fff;
  color: #e9e9e9;
  height: 42px;
  line-height: 40px;
  margin: 1px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
  z-index: 10;
}
.form-search .btn:hover {
  color: #027bef;
}
.form-search .btn i {
  border-left: 1px solid #e9e9e9;
  line-height: 43px;
  padding: 0 10px;
}
.form-search .form-group {
  width: 100%;
}
.form-search .form-group .form-control {
  border: 1px solid #e9e9e9;
  height: 40px;
  padding-right: 9em;
}
/**
 *
 *
/****************************  $Forms Suscribe  ****************************/
.suscribe {
  position: relative;
}
.suscribe .form-group {
  width: 100%;
}
.suscribe .form-group .form-control {
  padding-right: 9em;
}
.suscribe .btn {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
/**
 *
 *
/******************************  $Go To Top  *******************************/
a.go-top {
  background-color: transparent;
  border: 1px solid #bec9cd;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  bottom: 50px;
  color: #bec9cd;
  display: none;
  font-size: 1.3em;
  height: 40px;
  line-height: 35px;
  outline: none;
  position: fixed;
  right: 60px;
  text-align: center;
  width: 40px;
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
a.go-top:hover {
  background: #027bef;
  border: 1px solid #027bef;
  color: #fff;
}
/**
 *
 *
/*******************************  $Graphics  *******************************/
.graphics h2 {
  text-align: center;
}
.graphics-item {
  margin: 50px 0;
  text-align: center;
}
.graphics-item .numbers {
  border: 12px solid #e46e0c;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #3b3b3b;
  display: inline-block;
  font-family: 'Oswald';
  font-size: 2.2em;
  height: 200px;
  line-height: 176px;
  width: 200px;
}
.graphics-item .numbers.numbers-darkblue {
  border-color: #5d86b2;
}
.graphics-item .numbers.numbers-green {
  border-color: #1d9744;
}
.graphics-item .numbers.numbers-purple {
  border-color: #7e5ce4;
}
.graphics-item .numbers.numbers-violet {
  border-color: #b05c97;
}
.graphics-item .numbers.numbers-yellow {
  border-color: #fdc100;
}
.graphics-item .numbers.numbers-water {
  border-color: #72bab6;
}
.graphics-item .numbers.numbers-wine {
  border-color: #b15b5c;
}
/**
 *
 *
/*******************************  $Isotope  ********************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  -ms-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
  transition-duration: 0s;
}
/**
 *
 *
/******************************  $List Links  ******************************/
.list-links {
  font-size: 0.9em;
  margin: -10px 0 0 0;
}
.list-links li {
  border-bottom: 1px solid #cdc8c4;
  height: 50px;
  line-height: 50px;
}
.list-links li a {
  color: #898989;
}
.list-links li a:hover {
  color: #027bef;
}
/**
 *
 *
/********************************  $Maps  **********************************/
.map {
  height: 620px;
  width: 100%;
}
/**
 *
 *
/******************************  $Membership  ******************************/
.membership {
  background: none;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 1em;
  position: relative;
}
.membership.new:after {
  color: #fff;
  content: 'new';
  font-size: 0.9em;
  position: absolute;
  right: 2px;
  top: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 10;
}
.membership.new:before {
  border: 25px solid #f14249;
  border-bottom-color: transparent;
  border-left-color: transparent;
  content: '';
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 2;
}
.membership .list-group li {
  background: none;
  border-color: #d0d0d0;
  color: #898989;
  font-size: 0.9em;
  line-height: 1.2em;
  padding-left: 25px;
}
.membership .list-group li i {
  color: #cecece;
  font-size: 1.2em;
  margin-left: -25px;
}
.membership .panel-footer {
  background-color: #027bef;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  display: block;
  margin: 20px -15px -15px -15px;
  text-align: center;
}
.membership .panel-footer i {
  font-size: 1.3em;
  margin-left: 5px;
}
.membership .panel-heading {
  color: #414141;
  font-family: 'Oswald';
  font-size: 1.45em;
  font-weight: 400;
}
.membership .panel-heading span {
  color: #898989;
  display: block;
  font-family: 'Open Sans';
  font-size: 0.6em;
  font-style: italic;
  font-weight: 300;
  margin: 0.5em 0 0 0;
}
/**
 *
 *
/********************************  $Modal  *********************************/
.modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-header {
  background-color: #7e5ce4;
  padding: 0.6em 1em;
}
.modal-header .close {
  font-size: 2em;
}
.modal-title {
  color: #fff;
}
/**
 *
 *
/********************************  $Navbar  ********************************/

.navbar {
  background-color: #fff;
  margin: 0;
}
.navbar .navbar-nav {
  float: none;
  min-height: 85px;
  text-align: right;
}
.navbar .navbar-nav li {
  display: inline-block;
  float: none;
}
.navbar .navbar-nav li.active a {
  color: #303030;
}
.navbar .navbar-nav li a {
  border-bottom: 2px solid transparent;
  color: #666;
  font-family: 'Oswald';
  font-size: 1.1em;
  letter-spacing: 2px;
  margin: 26px 10px;
  padding: 5px 0;
  text-transform: uppercase;
  text-shadow: none;
  width: fit-content;
}
.navbar .navbar-nav li a:hover {
  
  color: #027bef !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  background: none !important;
  
}

.navbar .navbar-collapse .navbar-nav .dropdown-menu .dropdown-item:hover{
  width: -moz-fit-content;
  width: fit-content;
}
.navbar .navbar-nav .dropdown:hover a .caret {
  border-bottom-color: #303030;
  border-top-color: #303030;
}
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
  background-color: #EFEFEF;
  color: #303030;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background: transparent;
  border: none;
}
.nav>li>a:hover, .nav>li>a:focus {
  background: transparent;
}
.navbar .navbar-nav .dropdown a .caret {
  border-bottom-color: #666;
  border-top-color: #666;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
  text-align: left;
  padding: 0;
}
.navbar .navbar-nav .dropdown .dropdown-menu li {
  width: 100%;
}
.navbar .navbar-nav .dropdown .dropdown-menu li a {
  border: none;
  margin: 0;
  padding: 10px 15px;
}
.navbar .navbar-nav .dropdown .dropdown-menu li a:hover {
  background-color: #efefef;
  color: #0078f3;
}
.navbar .navbar-toggle {
  background-color: #027bef;
}
.navbar .navbar-toggle span {
  background-color: #fff;
}
.navbar-collapse{
  justify-content: right !important;
}
/**
 *
 *
/*********************************  $News  *********************************/
.news {
  text-align: center;
}
.news h2 {
  margin-bottom: 0;
  text-align: center;
}
.news-item {
  display: inline-block;
  margin: 18px 9px;
  max-width: 270px;
  position: relative;
  text-align: left;
}
.news-item h4 {
  margin: 15px 0;
}
.news-item .date {
  background-color: #fff;
  color: #3b3b3b;
  font-family: 'Oswald';
  font-size: 1.4em;
  height: 70px;
  line-height: 1em;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 70px;
}
.news-item .date span {
  display: block;
}
.news-item .readmore {
  border-top: 1px solid #e0e0e0;
  display: block;
  margin: 10px 0 0 0;
  padding: 8px 0;
}
/**
 *
 *
/******************************  $Pagination  ******************************/
.pagination {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.pagination li {
  margin: 0 0.2em;
  display: inline-block;
}
.pagination li a {
  font-size: 1.1em;
  background-color: transparent;
  border-color: #c4c4c4;
  padding: 0.4em 0.9em;
}
.pagination li a:hover {
  background-color: transparent;
  border-color: #027bef;
  color: #c4c4c4;
}
.pagination li:first-child>a {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.pagination li:last-child>a {
  -webkit-border-radius: 0;
  border-radius: 0;
}
/**
 *
 *
/******************************  $Performance  *****************************/
.performance {
  background-image: url("../img/home/bg-performance.jpg");
  background-position: top center;
}
/**
 *
 *
/********************************  $Posts  *********************************/
.post {
  padding: 0 0 0 110px;
  position: relative;
}
.post p {
  line-height: 1.8em;
}
.post .data {
  background-color: #0062ad;
  color: #fff;
  font-family: 'Oswald';
  font-weight: 300;
  left: 0;
  min-height: 245px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 85px;
}
.post .data span {
  display: block;
  font-size: 2em;
}
.post .data .count-comments {
  background-color: #0076d0;
}
.post .data .date {
  background-color: #027bef;
}
.post .data .count-comments,
.post .data .date {
  min-height: 85px;
  padding: 0.5em 0 0 0;
}
.post .orange {
  background-color: #e46e0c;
  color: #fff;
}
.post .purple {
  background-color: #7e5ce4;
  color: #fff;
}
/**
 *
 *
/****************************  $Pricing Tables  ****************************/
.pricing {
  text-align: center;
}
.pricing .panel {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.pricing .panel-heading {
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  font-family: 'Oswald';
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 30px 0;
  position: relative;
  text-transform: uppercase;
}
.pricing .panel-heading small {
  display: inline-block;
  font-size: 0.6em;
  margin: 4px 0 0 0;
  vertical-align: top;
}
.pricing .panel-heading span {
  display: block;
  font-size: 0.5em;
  font-weight: 400;
}
.pricing .panel-heading:after {
  border-color: #007bff transparent transparent transparent;
  border-style: solid;
  border-width: 30px 130px 0 130px;
  bottom: -30px;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  z-index: 9;
}
.pricing .list-group-item {
  border: none;
  font-weight: 300;
}
.pricing .btn {
  display: block;
  font-size: 1em;
  margin: 0 2em;
  padding: 0.3em 1em;
}
.pricing .panel-default.green>.panel-heading,
.pricing .panel-default.green .btn-default {
  background-color: #1d9744;
}
.pricing .panel-default.green>.panel-heading:after {
  border-color: #1d9744 transparent transparent transparent;
}
.pricing .panel-default.orange>.panel-heading,
.pricing .panel-default.orange .btn-default {
  background-color: #e46e0c;
}
.pricing .panel-default.orange>.panel-heading:after {
  border-color: #e46e0c transparent transparent transparent;
}
.pricing .panel-default.purple>.panel-heading,
.pricing .panel-default.purple .btn-default {
  background-color: #7e5ce4;
}
.pricing .panel-default.purple>.panel-heading:after {
  border-color: #7e5ce4 transparent transparent transparent;
}
.pricing .panel-default.yellow>.panel-heading,
.pricing .panel-default.yellow .btn-default {
  background-color: #fdc100;
}
.pricing .panel-default.yellow>.panel-heading:after {
  border-color: #fdc100 transparent transparent transparent;
}
/**
 *
 *
/*****************************  $Progress Bar  *****************************/
.progress {
  background-color: #e6e6e6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 12px;
  margin-top: 10px;
  overflow: visible;
  padding: 3px;
}
.progress .progress-bar {
  background-color: #027bef;
  background-image: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 6px;
  position: relative;
}
.progress .progress-bar span {
  background-color: #027bef;
  border: 5px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 0.9em;
  height: 22px;
  position: absolute;
  right: -8px;
  text-indent: -9999px;
  top: -8px;
  width: 22px;
}
/**
 *
 *
/**************************  $Revolution Slider  ***************************/
.bannercontainer {
  max-height: 560px !important;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100% !important;
  font-size: 16px;
}
.bannercontainer .caption {
  color: #fff;
}
.bannercontainer .caption.blue-bar p {
  background-color: #027bef;
  color: #fff;
  float: right;
  font-family: 'Oswald';
  font-size: 1.4em;
  font-weight: 400;
  line-height: 57px;
  margin: 0;
  padding: 0 30px;
  text-align: left;
  text-transform: uppercase;
  width: 29.01em;
}
.bannercontainer .caption.img {
  max-width: 40.6em;
}
.bannercontainer .caption.grey-bar {
  background-color: #3b3b3b;
  bottom: 0;
  height: 57px;
  left: 0 !important;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 100%;
}
.bannercontainer .caption.slide-btn .btn {
  font-size: 1.1em;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
}
.bannercontainer .caption.slide-subtitle {
  color: #3b3b3b;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0 0 2em 0;
  white-space: normal !important;
  width: 28em;
}
.bannercontainer .caption.slide-title {
  color: #027bef;
  font-family: 'Oswald';
  font-size: 2.8em;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  white-space: normal !important;
  width: 13em;
}
.bannercontainer .tp-bullets {
  left: 375px !important;
}
.bannercontainer .tp-bullets.simplebullets.round .bullet {
  background-image: url("../img/slider/bullet.png");
}
.bannercontainer .tparrows {
  display: none;
}

/* 3D rolling links*/
.bannercontainer a span {
  position: relative;
  display: inline-block;
  padding: 0.6em 1.2em;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bannercontainer a span::before{
  background: #E46E0C;
  height: 100%;
  left: 0;
  line-height: 3.3;
  position: absolute;
  top: 100%;
  width: 100%;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.bannercontainer a:hover span,
.bannercontainer a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.bannercontainer a span:hover::before,
.bannercontainer a span:focus::before {
  background: #E46E0C;  
}

/**
 *
 *
/******************************  $Schedules  *******************************/
.schedules {
  color: #fff;
  font-family: 'Oswald';
  text-align: center;
  text-transform: uppercase;
}
.schedules tbody>tr>td {
  height: 95px;
  vertical-align: middle;
}
.schedules tbody>tr>td:first-child {
  color: #ccc;
  font-size: 2em;
  font-weight: 300;
}
.schedules thead {
  background-color: #f8f9fa !important;
  color: #3c3c3c;
}
.schedules thead>tr>th {
  font-size: 1.4em;
  font-weight: 400;
  height: 60px;
  line-height: 60px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 150px;
}
.schedules .pilates {
  background-color: #fdc100;
}
.schedules .salsa {
  background-color: #e46e0c;
}
.schedules .spinning {
  background-color: #1d9744;
}
.schedules .time {
  font-size: 1.5em;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.schedules .time:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.schedules .time span {
  display: block;
  font-size: 0.75em;
}
.schedules .yoga {
  background-color: #7e5ce4;
}
/**
 *
 *
/*******************************  $Services  *******************************/
.services h2 {
  margin-bottom: 2em;
  text-align: center;
}
.services .services-item {
  margin-bottom: 30px;
  padding: 0 20px 20px 70px;
  position: relative;
}
.services .services-item a {
  color: #027bef;
}
.services .services-item a:hover {
  color: #e46e0c;
}
.services .services-item h4 {
  margin-top: 0;
}
.services .services-item p {
  line-height: 1.5em;
  margin-bottom: 0;
}
.services .services-item .icon {
  border: 1px solid #027bef;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #027bef;
  font-size: 1.3em;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.services .services-item:hover .icon {
  border-color: #e46e0c;
  color: #e46e0c;
}
/**
 *
 *
/********************************  $Skills  ********************************/
.skills p {
  margin: 1em 0 0 0;
}
/**
 *
 *
/*****************************  $Social Icons  *****************************/
.social li {
  display: inline-block;
}
.social li a {
  background-color: #b05c97;
  color: #fff;
  display: block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li a.facebook {
  background-color: #3b589a;
}
.social li a.linkedin {
  background-color: #1881ba;
}
.social li a.pinterest {
  background-color: #d03428;
}
.social li a.twitter {
  background-color: #00abf0;
}
.social li a.facebook:hover,
.social li a.linkedin:hover,
.social li a.pinterest:hover,
.social li a.twitter:hover {
  background-color: #E46E0C;
  color: #fff;
}
/**
 *
 *
/*********************************  $Tags  *********************************/
.tags {
  list-style: none;
}
.tags li {
  display: inline-block;
  margin: 0.3em;
}
.tags li .btn-bordered {
  font-size: 0.9em;
  padding: 0.1em 0.5em;
}
/**
 *
 *
/*********************************  $Tooltips  *********************************/
.tooltip-inner {
  background: #008cf7;
  color: #fff;
}
.tooltip.top .tooltip-arrow {
  border-top-color:#008cf7;
}
/**
 *
 *
/*****************************  $Testimonials  *****************************/
.testimonials {
  background: #f8f9fa !important;
  background-position: top center;
}
.testimonials h2 {
  margin-top: 0;
  text-align: center;
}
.testimonials .testimonials-item {
  margin-bottom: 30px;
  background-color: #fff;
  min-height: 155px;
  padding-top: 2rem !important;
  position: relative;
}
.testimonials .testimonials-item i {
  color: #027bef;
  font-size: 2em;
  margin: 0 5px 5px 0;
}
.testimonials .testimonials-item img {
  display: block;
  margin:auto;
  width: 140px;
  max-height: 140px;
  border-radius: 3px;
  margin-bottom: 2rem;
}
.testimonials .testimonials-item p {
  line-height: 1.8em;
}
.testimonials .testimonials-item .author {
  border-left: 1px solid #898989;
  font-size: 0.8em;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 10px;
}
.testimonials .testimonials-item .author span {
  display: block;
  text-transform: uppercase;
}
.testimonials .testimonials-item .author strong {
  color: #027bef;
  display: block;
}
.testimonials-carousel {
  float: right;
  margin: 0 0 0 2em;
  max-width: 380px;
}
.testimonials-carousel figure {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 100px;
  overflow: hidden;
  width: 100px;
}
.testimonials-carousel h4 {
  margin: 0 0 1em 0;
}
.testimonials-carousel p {
  border-bottom: 1px solid #e2e2e2;
  font-size: 0.8em;
  line-height: 2em;
  margin: 0 0 3em 0;
  min-height: 140px;
  padding: 0 0 0 130px;
}
.testimonials-carousel p span {
  color: #3a3a3a;
  display: block;
}
.testimonials-carousel .carousel-control {
  background-color: #c1c1c1;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  height: 24px;
  margin: -25px 0 0 0;
  top: 100%;
  width: 24px;
}
.testimonials-carousel .carousel-control i {
  left: -4px;
  position: relative;
  top: -9px;
}
.testimonials-carousel .carousel-control.prev {
  right: 30px;
}
.testimonials-carousel .carousel-control.prev i {
  left: -6px;
}
.testimonials-carousel .carousel-control:hover {
  background-color: #027bef;
}
/**
 *
 *
/*******************************  $Thumbnail  ******************************/
.item-thumbnail {
  overflow: hidden;
  position: relative;
 height: 400px;
 
  
}
.item-thumbnail:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.item-thumbnail:hover .icons {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 45%;
}
.item-thumbnail:hover .overthumb {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=20);
  top: 0;
}
.item-thumbnail img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: 100%;
  width: 100%;
}
.item-thumbnail .icons {
  display: block;
  font-size: 19px;
  height: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 100%;
}
.item-thumbnail .icons a {
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  margin-right: 5px;
  padding: 10px;
}
.item-thumbnail .icons a:hover {
  color: #027bef;
  text-decoration: none;
}
.item-thumbnail .overthumb {
  background: #027bef;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: auto;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.8s ease-out;
  width: 100%;
}
.item-thumbnail.readmore .icons {
  border-bottom: 1px solid #fff;
}
.item-thumbnail.readmore .icons:hover {
  border-color: #027bef;
}
.item-thumbnail.readmore .icons a {
  background: none;
  color: #fff;
  font-family: 'Oswald';
  text-transform: uppercase ;
}
.item-thumbnail.readmore .icons a:hover {
  color: #027bef;
}
.item-thumbnail.readmore .overthumb {
  background: #000;
  height: 100%;
}
.item-thumbnail.cross:hover .icons a:after {
  width: 200px;
  height: 100px;
}
.item-thumbnail.cross:hover .icons a:before {
  width: 100px;
  height: 200px;
}
.item-thumbnail.cross:hover .icons a:after,
.item-thumbnail.cross:hover .icons a:before {
  left: 0;
  top: 0;
}
.item-thumbnail.cross .icons {
  height: 200px;
  margin: -100px 0 0 0;
  top: 50%;
}
.item-thumbnail.cross .icons a {
  background: none;
  display: block;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-indent: -9999px;
  width: 200px;
}
.item-thumbnail.cross .icons a:after {
  border-bottom: 1px solid #fff;
  content: '';
  height: 0;
  left: -100%;
  position: absolute;
  top: -100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 0;
}
.item-thumbnail.cross .icons a:before {
  border-right: 1px solid #fff;
  content: '';
  height: 0;
  left: -100%;
  position: absolute;
  top: -100%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 0;
}
.item-thumbnail.cross .overthumb {
  background: #000;
  top: 0;
}
.item-thumbnail.triangle .icons a {
  background: none;
  color: #fff;
  font-family: 'Oswald';
  font-size: 1.3em;
  text-transform: uppercase;
}
.item-thumbnail.triangle .icons a:hover {
  color: #fff;
}
.item-thumbnail.triangle .icons a span {
  display: block;
  font-size: 1em;
}
.item-thumbnail.triangle .overthumb {
  background: none;
  border-bottom: 275px solid #e46e0c;
  border-right: 270px solid transparent;
}
/**
 *
 *
/*******************************  $Trainers  *******************************/
.trainers-carousel {
  float: left;
  margin: 0 2em 0 0;
  max-width: 370px;
}
.trainers-item {
  display: inline-block;
  margin: 8px 0px 50px 0px;
  width: 370px;
}
.trainers-item h3 {
  font-size: 1.5em;
  margin: 0.5em 0 0 0;
  text-transform: none;
}
.trainers-item h6 {
  color: #7c7c7c;
  margin: 0.5em;
}
.trainers-grid {
  text-align: center;
}
.coach{
  border: 1px solid #027bef;
border-radius: 3px;
  padding: 1rem 4rem;
}
.depcaloForm,
.poidsForm{
  width: 70%;
  margin: auto;
}

.page_title{
  color: #027bef;

}
/*Page aliments*/
.aliments .aliments-index{
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.aliments ul{
  list-style-type: "- ";
}
.aliments .table-responsive{
  overflow-x: auto;
  display: block;
  width: 100%;
}
.aliments table{
  width: 100%;
}
  .aliments table  th {
    font-weight: bold;
    text-align: center;
    padding:8px;
  }
.aliments table tbody tr td:first-child {
 text-align: left;
 font-weight: bold;
 font-size: 15px;
}
.aliments table tbody tr td{
  text-align: center;
}
.aliments table tbody tr td:nth-child(2),
th:nth-child(2) {
background:#d7ebef;
}
.aliments table tbody tr td:nth-child(3),
th:nth-child(3) {
background: #c7eac7;
}
.aliments table tbody tr td:nth-child(4),
th:nth-child(4) {
background: #F5D3E4;
}
.aliments table tbody tr td:nth-child(5),
th:nth-child(5) {
background: #EEE0FC;
}

/*Page viandes*/

.viandes .viandes-index{
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.viandes ul{
  list-style-type: "- ";
}
.viandes ul li{
  margin-right: 2px;
}

  .viandes table  th {
    font-weight: bold;
    text-align: center;
  }
.viandes table tbody tr td:first-child {
 text-align: left;
 font-weight: bold;
 font-size: 15px;
 padding: 11px;
}
.viandes table tbody tr td{
  text-align: center;
}
.viandes table tbody tr td:nth-child(2),
th:nth-child(2) {
background:#d7ebef;
}
.viandes table tbody tr td:nth-child(3),
th:nth-child(3) {
background: #c7eac7;
}
.viandes table tbody tr td:nth-child(4),
th:nth-child(4) {
background: #F5D3E4;
}
.viandes table tbody tr td:nth-child(5),
th:nth-child(5) {
background: #EEE0FC;
}

/* Page musculation*/

.musculation img {
  width: 100%;
  height: 244px;
}

.musculation table th:first-child{
  width: 50%;
}

.musculation table  th:nth-child(3)
{
  background: rgb(236, 153, 223);
}
.musculation span{
  color: #027bef;
  font-weight: bold;
}
.musculation ul{
  list-style-type: "- ";
}

/*Page contact*/

.contact iframe{
  width: 100%;
  height: 440px;
}
/* Page about*/


.about h1{
  font-weight: 300 !important;
  font-size: 2.5rem;
  margin-top: 1em !important;
}

.barre_title{
  width: 50%;
  border: 3px solid #027bef;
  margin: 0 auto 2rem;
}
.about img{
  width: 100%;
  height: 370px;
}
.img_bg--about{
  filter: brightness(28%);
}

.about .logo_about{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 106px;
height: 76px;
}

.about .author{
  border-right: 1px solid #898989;
font-size: 0.8em;
line-height: 1.2em;
padding-right: 5px;
}
.about_btn{
position: absolute;
    bottom: 0;

}
.about button a{
  color: #fff;
}

/* Button to top*/
.toTop{
  position: fixed;
  right: 7px;
  bottom: 10px;
  display: none;
}
.toTop i{
  font-size: 1.6rem;
  color: #616161;
  transition: color 0.7s ease-in-out;
}
.toTop i:hover{
  color: #027bef;
}